.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(187, 9%, 100%);
  margin: 0.15rem 0.25rem;
  font-size: 0.75rem;
}

.input label {
  margin-bottom: 0.15rem;
  opacity: 0.85;
}

.input input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 110px;
  height: 4px;
  background: hsl(187, 9%, 80%);
  border-radius: 5rem;
  cursor: pointer;
  outline: none;
}

.input input[type=range]:focus {
  background: hsl(187, 9%, 100%);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: hsl(286, 49%, 55%);
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid hsl(187, 9%, 100%);
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: hsl(286, 49%, 55%);
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid hsl(187, 9%, 100%);
}
